<form id="formcard_cat" class="dialogform" method="post" {{ form_enctype(form) }}>
<div class="long">
	{{ form_label(form.parentid) }}
	{{ form_widget(form.parentid) }}
</div>
<div class="long">
	{{ form_label(form.name) }}
	{{ form_widget(form.name) }}
</div>

{{ form_rest(form) }}
</form> 
