<form id="formcard_tsgs" class="dialogform" method="post" {{ form_enctype(form) }}>
<div class="long">
	{{ form_label(form.tsgname) }}
	{{ form_widget(form.tsgname) }}
</div>
<div class="long">
	{{ form_label(form.tsgcode) }}
	{{ form_widget(form.tsgcode) }}
</div>
<div class="long">
	{{ form_label(form.lk) }}
	<img id = "img_lk" width="16" height="16" alt="" src=" 
		{% if(lk == 1) %}  
			{{asset('bundles/acmezayavki/images/ok.png') }} 
		{%else%} 
			{{asset('bundles/acmezayavki/images/blank.png') }}  
		{%endif%} " />
	{{ form_widget(form.lk) }}	
	<a href="javascript:void(0)" class="easyui-linkbutton" id="set_lk" ></a>
</div>

<h4>{{ translate['caption.users'] }}</h4>
<table id="tsg_users"  rownumbers="true" singleSelect="true" style="height:100px"></table>

<h4>{{ translate['caption.workers'] }}</h4>
<table id="tsg_works"  rownumbers="true" singleSelect="true" style="height:150px"></table>

{{ form_rest(form) }}
</form>

<script type="text/javascript" src="{{ asset('bundles/acmezayavki/js/workers.js') }}"></script> 
<script>

	var ar_act = [ "{{ translate['basic.on'] }}", "{{ translate['basic.off'] }}"];
	item = {"tsgid": 0,
		"init" : function (tsgid) {
			this.tsgid = tsgid;
		},
		"worker_add": function(id) {
			$('#tsg_works').datagrid('reload');
		}
	};
	
	uitem = {"tsgid": 0,
		"init" : function (tsgid) {
			this.tsgid = tsgid;
		},
		"user_add": function(id) {
			$('#tsg_users').datagrid('reload');
		}
	};	
	
	$(function(){
		var translate = new Array();
		translate['dialog.title.worker']  = '{{ translate['dialog.title.worker'] }}';
		translate['basic.save']          = '{{ translate['basic.save'] }}';
		translate['basic.cancel']        = '{{ translate['basic.cancel'] }}';
		translate['basic.warning']       = '{{ translate['basic.warning'] }}';	
		translate['message.nameisempty'] = '{{ translate['message.nameisempty'] }}';
		
	
		item.init({{ tsg_id }});
		uitem.init({{ tsg_id }});
		$('#set_lk').linkbutton({
			"text" : ar_act[$("#tsg_lk").val()]	
		});
		
		
		$('#set_lk').bind('click', function(){
	     	var lk = $("#tsg_lk").val();
            if (lk == 0) {lk = 1} else {lk = 0}

			$.post('tsgs_setlk/{{tsg_id}}/'+lk, function(data){			
				$('#set_lk').linkbutton({"text" : ar_act[lk] });
				$("#tsg_lk").val( lk );
				
				if (lk == 1) {
					$("#img_lk").attr("src", "{{asset('bundles/acmezayavki/images/ok.png') }}");
				} else {
					$("#img_lk").attr("src", "{{asset('bundles/acmezayavki/images/blank.png') }}");
				}
			});			
		});
		
	    $('#tsg_users').datagrid({
    	       url: 'tsgs_oplist/{{tsg_id}}',
				columns:[[
					{field:'id',hidden:'true'},
					{field:'name',width:200,title:'{{ translate['column.user'] }}'},
					{field:'lname',width:100,title:'{{ translate['column.login'] }}'},
					{field:'pname',width:100,title:'{{ translate['column.password'] }}'}
				]]
	    });	
		
	    $('#tsg_works').datagrid({
    	        url: 'tsgs_worklist/{{tsg_id}}',
				columns:[[
					{field:'id',hidden:'true'},
					{field:'name',width:200,title:'{{ translate['column.worker'] }}'},
					{field:'pname',width:200,title:'{{ translate['column.profession'] }}'}
				]],			
				toolbar: [{
					text: '{{ translate['entity.menu.add'] }}',
					iconCls: 'icon-add',
					handler: function(){
						open_worker({{tsg_id}}, 0, item, translate);
					}
				},{
					text: '{{ translate['entity.menu.edit'] }}',
					iconCls: 'icon-edit',
					handler: function(){
						var row = $('#tsg_works').datagrid('getSelected');
						if (row){
							open_worker({{tsg_id}}, row.id, item, translate);
						}
					}
				},'-',{
					text: '{{ translate['entity.menu.delete'] }}',
					iconCls: 'icon-remove',
					handler: function(){
						var row = $('#tsg_works').datagrid('getSelected');
						if (row){
						$.messager.defaults.ok = '{{ translate['basic.yes'] }}';
						$.messager.defaults.cancel = '{{ translate['basic.no'] }}';
						$.messager.confirm('{{ translate['basic.warning'] }}','{{ translate['ask.delete'] }}',function(r){
						if (r){
							$.ajax({
								type: "GET",
								url: 'worker_delete/'+row.id,
								dataType: "json",
								success: function(data) {
									var data = eval(data);  
									if (data.success){
										$('#tsg_works').datagrid('reload');
									} else {
										$.messager.alert('{{ translate['basic.warning'] }}', data.message, 'info');
									}
								}
							});
						}
						});
						}
					}
				}],
           onDblClickRow: function(index, data) {
				open_worker({{tsg_id}}, data['id'], item, translate);
           }
	    });			
	});

</script>