<div id="efilter" class="easyui-panel" href="ftickets" style="height:50px;background:#fafafa;border:1px solid #fafafa;" ></div>
<div class="top_section">
	<div class="tablo_section">
		<div class="dop_section">
			<div class="dop_title">{{ translate['tickets.description'] }}</div>
			<div id="f_dop" class="dop_text"></div>
		</div>
  	<div class="info_section">
		<div><div class="alert_text">{{ translate['tickets.new'] }} :<a class = "a_notify" id="n_new" href="javascript:select_predef(1);"></a></div></div>
	   	<div><div class="alert_text">{{ translate['tickets.total'] }}<a class = "a_notify" id="n_total" href="javascript:select_predef(2);"></a></div>
				<div class="alert_text">( {{ translate['tickets.among'] }} <img width="16" height="16" alt="" src="{{ asset('bundles/acmezayavki/images/y16.png') }}"> {{ translate['tickets.urgent'] }} <a id="n_urgent" class = "a_notify" href="javascript:select_predef(4);"></a>)</div></div>
	   	<div><div class="alert_text">{{ translate['tickets.incl'] }} :<div style="color:#f00;font-weight:bolder;display: inline;">{{ translate['tickets.overdue'] }}</div></div>
				<a class = "a_notify" id="n_alert" href="javascript:select_predef(3);"></a></div>
	   	<div><div class="alert_text">{{ translate['tickets.withperiod'] }} <div style="color:#00f;font-weight:bolder;display: inline;">{{ translate['tickets.today'] }}</div><a class = "a_notify" id="n_today" href="javascript:select_predef(5);"></a></div></div>
	</div>
</div>
<div id="tb_tickets2" class="tickets_btn"><div class="spacer5h"></div>
	<a id="create_btn" href="javascript:void(0)" class="easyui-linkbutton" style="font-size:16px;font-weight: bolder;">{{ translate['tickets.create'] }}</a>
	<a id="edit_btn" href="javascript:void(0)"   class="easyui-linkbutton"  style="font-size:16px;font-weight: bolder;">{{ translate['tickets.edit'] }}</a>
	{% if ( prop_head == 1) %}
		<a href="javascript:show_reportmenu();" class="easyui-linkbutton"  style="font-size:16px;font-weight: bolder;">{{ translate['tickets.report'] }}</a>
	{% endif %}
</div>
<div class="spacer5_ul"></div>
<div id="tb_menu" class="easyui-menu" style="width:120px;" data-options="onClick:menuHandler">
	<div data-options="name:1">{{ translate['tickets.report1'] }}</div>
	<div data-options="name:2">{{ translate['tickets.report2'] }}</div>
	<div data-options="name:3">{{ translate['tickets.report3'] }}</div>				
</div>
  <table id="tickets_list" singleSelect="true" border="false" autoRowHeight="true" rownumbers="true" pagination="true" pagePosition="top" pageSize="20" sortName="nr" sortOrder="desc"></table>

 <script type="text/javascript" src="{{ asset('bundles/acmezayavki/js/tickets.js') }}"></script>

<script>
	var translate = new Array();	
	translate['dialog.title.ticket'] = '{{ translate['dialog.title.ticket'] }}';	
	translate['tickets.delete']      = '{{ translate['tickets.delete'] }}';	
	translate['tickets.print']       = '{{ translate['tickets.print'] }}';	
	translate['tickets.closed']      = '{{ translate['tickets.closed'] }}';	
	translate['tickets.warning']     = '{{ translate['tickets.warning'] }}';	
	translate['tickets.yes']         = '{{ translate['tickets.yes'] }}';	
	translate['tickets.no']          = '{{ translate['tickets.no'] }}';	
	translate['tickets.create']      = '{{ translate['tickets.create'] }}';
	translate['tickets.cancel']      = '{{ translate['tickets.cancel'] }}';
	translate['tickets.ok']          = '{{ translate['tickets.ok'] }}';	
	translate['tickets.message.delete']        = '{{ translate['tickets.message.delete'] }}';	
	translate['tickets.message.selectcompany'] = '{{ translate['tickets.message.selectcompany'] }}';	
	translate['tickets.message.category']      = '{{ translate['tickets.message.category'] }}';	
	translate['tickets.message.selecttext']    = '{{ translate['tickets.message.selecttext'] }}';	
	console.log(translate);
	$(function(){	

		var client_h=document.body.clientHeight;
		client_h = client_h - 190;
		
		$('#tickets_list').datagrid({
			height : client_h,
			url: 'tickets_data/'+fx.buildPar(),
			columns:[[
				{field:'alert',hidden:'true'},
				{field:'astate',hidden:'true'},
				{field:'fopen',hidden:'true'},
				{field:'status',hidden:'true',title:'...'},
				{field:'state',width:'{{ colsize['state'] }}',title:'...',
					formatter: function(value,row,index){
						var state = '';
						if ((row.alert == 1)&&(row.statusid == 1)){
							state = '<img width="16" height="16" alt="" src="{{ asset("bundles/acmezayavki/images/y16.png") }}" >';
						} else {
							state = '<img width="16" height="16" alt="" src="{{ asset("bundles/acmezayavki/images/blank.png") }}" >';
						}
						if (row.creator == 0){
							state = state + '<img width="16" height="16" alt="" src="{{ asset("bundles/acmezayavki/images/c16.png") }}" >';
						} else {
							state = state + '<img width="16" height="16" alt="" src="{{ asset("bundles/acmezayavki/images/blank.png") }}" >';
						}
						return state;
					}				
				},
				{field:'tsgname',width:'{{ colsize['tsgname'] }}',sortable:true,title:'{{ translate['column.tickets.company'] }}'},
				{field:'nr',width:'{{ colsize['nr'] }}',sortable:true,      title:'{{ translate['column.tickets.nr']      }}'},
				{field:'dstart',width:'{{ colsize['dstart'] }}',sortable:true, title:'{{ translate['column.tickets.created'] }}'},
				{field:'cname',width:'{{ colsize['cname'] }}',sortable:true,  title:'{{ translate['column.tickets.category']}}'},
				{field:'sname',width:'{{ colsize['sname'] }}',sortable:true,  title:'{{ translate['column.tickets.status']  }}'},
				{field:'account',width:'{{ colsize['account'] }}',               title:'{{ translate['column.tickets.account'] }}'},
				{field:'fio',width:'{{ colsize['fio'] }}',sortable:true,    title:'{{ translate['column.tickets.fio']     }}'},
				{field:'address',width:'{{ colsize['address'] }}',sortable:true,title:'{{ translate['column.tickets.address'] }}'},
				{field:'message',width:'{{ colsize['message'] }}',              title:'{{ translate['column.tickets.message'] }}'},
				{field:'wname',width:'{{ colsize['wname'] }}',sortable:true,  title:'{{ translate['column.tickets.charge']  }}'},
				{field:'dplan',width:'{{ colsize['dplan'] }}',sortable:true,  title:'{{ translate['column.tickets.dates']   }}',
					styler: function(value,row,index){
						if ((row.overdue == "0")&&(row.statusid == 1)){		
							return 'font-weight:bolder; color:blue;';
						}
						if ((row.overdue > 0)&&(row.statusid == 1)){
							return 'font-weight:bolder; color:red;';
						}						
					}
				}
			]],		
			rowStyler: function(index,row){
				if (row.fopen == 0) {
						return 'font-weight:bolder;';
				}
			},
			onResizeColumn: function (field, width) {
				$.ajax({ type: "GET", url: 'tickets_resize/{{ userid }}/'+field+'/'+width, dataType: "json"});
			},			
			onDblClickRow: function(index, data) {
				edit_ticket();
			}
		});
		fx.getAlerts(0);
		
	});
	
	$('#create_btn').bind('click', function(){
		open_ticket(0, 1, $('#tickets_list'), translate);
	});
	
	$('#edit_btn').bind('click', function(){
		edit_ticket();
	});	
	
	function menuHandler(item){
		if (item.name == "1") {
			window.open('rpttickets/'+fx.buildPar($('#tickets_list').datagrid('options').sortName, $('#tickets_list').datagrid('options').sortOrder), "_self");
		}
		if (item.name == "2") {

			if (!$('div').is('#report2_card')) {
				$('#cardholder').after('<div id="report2_card"></div>');
			}

			$('#report2_card').dialog({
			title: '{{ translate['dialog.title.reportparams'] }}',
            width: 555,
            height: 200,
            closed: false,
            cache: false,
            href: 'report_par2',
            modal: true,
            buttons:[ {text:'{{ translate['tickets.ok'] }}', handler:function(){
					$('#report2_card').dialog('close');
					window.open('rpttotal/'+$('#report2_dt1').datebox('getValue')+'/'+$('#report2_dt2').datebox('getValue'), "_self");
   				}},
   	     		{text:'{{ translate['tickets.cancel'] }}', handler:function(){ $('#report2_card').dialog('close'); } } ]
            });
		
		
		
			
		}
		if (item.name == "3") {
			window.open('rptusers', "_self");
		}
	}

	function show_reportmenu() {
		$('#tb_menu').menu('show', {left: 400, top: 120});
	}

	function edit_ticket() {
			var row = $('#tickets_list').datagrid('getSelected');
			if (row){
				if ((row.fopen == 0)&&(fx.head == 0)) {
	                fx.updateTitle(fx.notopen - 1);
					row.fopen = 1;
					$('#tickets_list').datagrid('refreshRow', $('#tickets_list').datagrid('getRowIndex', row) );
				}
				
				open_ticket(row.id, row.statusid, $('#tickets_list'), translate);
			}
	}

	function exporttickets() {
		window.open('export/'+fx.buildPar(), "_self");
	}

	function select_predef(id) {
		fx.clearFilter();
        $('#f_predef').val(id);
        fx.search["predef"] = id;
		fx.filterInfo();
        $('#tickets_list').datagrid({"url": 'tickets_data/'+fx.buildPar()});
	}
 </script>
